.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.header h1{
    color: black;
    font-size: 5em;
    display:inline-block;
}


.header img{
    width: 160px;
}