.article {
    border: 1px black solid;
    border-radius: 25px;
    margin: 1rem;
    padding: 1rem;
    background-color: aliceblue;
    color: black;
}

.article ul {
    list-style: none;
}
.myLink {
    color: cornflowerblue;
    font-size: smaller

}
.myText {
    margin: 1rem;
}